<h1>Home</h1>
<div>
  <div class="row">

    {{#each videos}}
    <div class="col-sm-6 col-lg-4 mt-4">
      <div class="card video-card">
        <a href="videos/{{this.slug}}">
          <img src="{{this.image}}" class="card-img-top" alt="{{this.name}}">
        </a>
        <div class="card-body">
          <h5 class="card-title">{{this.name}}</h5>
          <p class="card-text">{{this.description}}</p>
          <a href="videos/{{this.slug}}" class="btn btn-primary">Watch</a>
        </div>
      </div>
    </div>
    {{/each}}
    
  </div>
</div>